<div class="jumbotron text-center">
    <div class="container">
        <h1>Leahs Blog</h1>
        <p>Hellooooooo</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Posts</h3>
            <ul>
                <li><a href="/posts/blog_post_1/">Aims and Expectations</a></li>
                <li><a href="/posts/blog_post_2/">Problem Solving and Being Lazy</a></li>
		<li><a href="/posts/billys_guest_post/">Billys Guest Post for Ruby programmers</a></li>
		<li><a href="/posts/blog_post_3/">Tools and Such</a></li>
            </ul>
    </div>
  </div>
</div>
<div class="container">
<iframe src="/posts/blog_post_1" width="100%" height="450" frameborder="0"></iframe>
</div>
</div>

<div class="container">
<iframe src="/posts/blog_post_2" width="100%" height="600" frameborder="0"></iframe>
</div>
</div>

<div class="container">
<iframe src="/posts/billys_guest_post" width="100%" height="500" frameborder="0"></iframe>
</div>
</div>

<div class="container">
<iframe src="/posts/blog_post_3" width="100%" height="500" frameborder="0"></iframe>
</div>
</div>
