<div class="container">
	<div class="row">
		<h3>What I hope to gain from this course</h3>
		<p>In this course, as well as gaining first hand insight as to what software engineering (amongst the other computer science based vocations) entails, I aim to build and develop computing skills.
			I particularly what to expand my knowledge of coding and begin actually learning the languages as opposed to using what is placed in front of me. Villiers will give me a good chance to begin this as I will be given a thorough introduction to the different languages (specifically Ruby) thus giving me a solid foundation to build on my knowledge.
			Along with this, I think it’d be extremely useful to observe the different applications, formats and platforms of the specific aspects of computer science. So rather than just learning about a concept within programming, I aim to find out what sort of circumstances this can be used in and see it put to use within everyday use of computer systems.
			All whilst I am learning of these different applications and uses of computer science, I can keep my options open for the future as I am gaining knowledge of the unique opportunities within the subject.
			I think, within the guidance of professionals in a group environment, my aims will be fulfilled by my time in Villiers.</p>
			</div>
	</div>
</div>
