<div class="container">
    <div class="row">
        <h3>Tools and Such</h3>
        <p>Following on the concept of being lazy within computer programming, I took out a vast amount of research and found many tools to abuse for the construction of my website. The basis of which being GitHub with stores the code for my blog and Heroku which takes this code and creates a physical being within the custom domain. For more accessible manipulation of this code, I have used VirtualBox to create a virtual machine to alter my program in. This allows me to see my changes in real time before pushing these changes live to the actual blog. Aside from this I've dragged Google to its deepest depths for extracting information about Ruby as well as searching for even more tools to alter the design of my website, such as a gradient tool for the background of my header (the height of laziness).</p>
    </div>
  </div>
</div>
