<div class="container">
  <div class="row">
    <h3>Problem Solving</h3>
    <p>Consider the problem briefly as a whole and start to build an overview.
After contemplating what the task will entail break it down into different aspects:
> What is the problem asking you?
> Who is the audience and what are their capabilities and limitations?
> How much time will this take compared to your deadline?
> How many people are working on the problem and what is their understanding?
Break each task into small bits and deal with them as they come.
Develop a firm understanding of the project as a whole as well as each individual task before tackling the matter.
Validate your results and ensure the code works to the best of its expectations.</p>
    <h3>Being Lazy</h3>
    <p>Don’t try and rewrite code that has already been written and made available to you.
Don’t try and elaborate or improve on said code if it’s not required.
However ensure the code you have copied DOES work to the best of your abilities to ensure your project reflects the amount of detail and work you plan to put into it.
DRY: don’t repeat yourself!! If another piece of code is needed again, consider whether or not you really need to copy and paste it. Can you create a repetitive function or a reference to it??
KISS: keep it simple stupid!!!!!! Don’t try and make your code any more complex than it needs to be, as long as it fulfils the task there is no need to add another layer of formatting to it, especially if it will later be operated by other people who mightn’t see the need or bear the understanding within operating your piece of code.</p>
    </div>
  </div>
<div>
